# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-xml
      - id: check-added-large-files

  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
      - id: check-json5

  - repo: https://github.com/floatingpurr/sync_with_poetry
    rev: 1.1.0 # the revision or tag to clone at
    hooks:
      - id: sync_with_poetry
        args: ["--db", ".pre-commit-sync-with-poetry.json"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"

  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.5
    hooks:
      - id: docformatter

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.8.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        #language_version: python3.9

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2 # Use the sha / tag you want to point at
    hooks:
      - id: mypy

  - repo: https://github.com/PyCQA/pylint
    rev: v3.3.1
    hooks:
      - id: pylint
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]
        additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.7.1
          - "@prettier/plugin-xml@2.2.0"

  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.3 # add version here
    hooks:
      - id: poetry-check # run poetry check to validate config
      - id: poetry-lock # run poetry lock to update lock file
      - id: poetry-export # run poetry export to sync lock file with requirements.txt
        name: poetry-export requirements.txt
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]
      - id: poetry-export # run poetry export to sync lock file with requirements-dev.txt
        name: poetry-export requirements-dev.txt
        args:
          [
            "--with",
            "dev,test",
            "-f",
            "requirements.txt",
            "-o",
            "requirements-dev.txt",
          ]
