name: Python

on:
  pull_request:
    branches: [main]

env:
  # renovate: datasource=github-releases depName=python packageName=containerbase/python-prebuild
  PYTHON_VERSION: "3.13.2"

  # renovate: datasource=github-releases depName=python-poetry/poetry
  POETRY_VERSION: "1.8.5"

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GIT_AUTO_COMMIT_ACTION_CHECKOUT_PAT }}

      - name: Install poetry
        run: pipx install poetry=="${{ env.POETRY_VERSION }}"

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "poetry"

      - run: poetry install

      - name: Get pre-commit version
        id: pre-commit-version
        run: |
          echo "pre-commit-version=$(poetry run pre-commit -V)" >> $GITHUB_OUTPUT

      - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4
        with:
          path: ~/.cache/pre-commit
          key: ${{ steps.pre-commit-version.outputs.pre-commit-version }}|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - run: poetry run pre-commit run --show-diff-on-failure --color=always --all-files

      - uses: stefanzweifel/git-auto-commit-action@e348103e9026cc0eee72ae06630dbe30c8bf7a79 # v5
        if: success() || failure()
        with:
          commit_author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          commit_message: "chore(pre-commit): apply automatic changes"

  pytest:
    needs: pre-commit

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Read .pre-commit-config.yaml
        uses: actions-tools/yaml-outputs@1a26d8aaa36aa54fe71d91c265dd6d4369a4fcfb # v2
        with:
          file-path: ${{ github.workspace }}/.pre-commit-config.yaml
          node: repos.10

      - name: Install poetry
        run: pipx install poetry=="${{ env.POETRY_VERSION }}"

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "poetry"

      - run: poetry install

      - run: poetry run pytest ${{ github.workspace }}/tests
